{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}

{% block content %}
<h1>Hello, world!</h1>

<div id='tweets'>
    Loading...
</div>

<script> 
    const tweetsElement = document.getElementById('tweets')

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        var finalTweetStr = ''
        var i;
        for(i=0;i<listedItems.length;i++){
            console.log(listedItems[i])
            var currentItem = "<div class='mb-4'> <h1>" + listedItems[i].id + "</h1>" + "<p>"+listedItems[i].content+"</p></div>"
            finalTweetStr += currentItem
        }
    tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
</script>
{% endblock %}
